# .gitignore

# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environment
venv/
env/
ENV/
.venv/
.ven/

# Jupyter Notebook
.ipynb_checkpoints

# Vector store
faiss_index/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

*.pdf