requests
PyMuPDF
tqdm
langchain
langchain-core
langchain-text-splitters
pypdf
langchain-google-genai
langchain-community
langgraph
langchain-chroma
sentence_transformers
astropy
pyephem
matplotlib
pandas
plotly
streamlit
langchain-huggingface
langchain-tavily
python-dotenv